* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}
.mainContainer {
  padding: 2em;
  max-width: 50vw;
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  align-items: center;
  gap: 1em;
  margin: 1em 0;
}
.mainLabel {
  flex-basis: 40%;
}
.inputText {
  width: 100%;
  padding: 0.5em 1em;
  margin: 0.5em 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: text;
}

.primary_button {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0 0 0 2em;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}
.mainDisplayBox {
  /* padding-left: 2em; */
}
ul > li {
  display: flex;
  gap: 1em;
  padding: 1em;
}
ul > li > label {
  flex-basis: 40%;
}

/* Checkbox */
/* .main-container {
  padding: 5em;
} */
.gpCheckBox {
  width: 100px;
  position: relative;
  display: flex;
  align-items: center;
}
.gpCheckInput {
  opacity: 0;
  width: 100%;
  height: 30px;
}
.gpCheckBox .gpCheckInput + label {
  width: 30px;
  height: 30px;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  position: absolute;
  left: 0;
  cursor: pointer;
}
.gpCheckBox .gpCheckInput + label:hover {
  background-color: #f5f5f5;
}
.gpCheckBox .gpCheckInput:checked + label:after {
  content: "";
  display: inline-block;
  height: 5px;
  width: 14px;
  border-left: 2px solid #00e64d;
  border-bottom: 2px solid #00e64d;
  transform: rotate(-45deg);
  margin-left: 6px;
}
/* Radio */
/* .main-container {
  padding: 5em;
} */
.gpRadio {
  width: 100px;
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
.gpRadioInput {
  opacity: 0;
  width: 30px;
  height: 30px;
}
.gpRadio .gpRadioInput + label {
  width: 30px;
  height: 30px;
  border: 1px solid #e2e2e2;
  border-radius: 50%;
  position: absolute;
  left: 0;
  cursor: pointer;
}
.gpRadio .gpRadioInput + label:hover {
  background-color: #f5f5f5;
}
.gpRadio .gpRadioInput:checked + label:after {
  content: "";
  display: inline-block;
  height: 15px;
  border-radius: 50%;
  width: 15px;
  background-color: #00e64d;
  margin: 6.5px;
}
.gpRadio > span {
  margin-left: 40px;
  white-space: nowrap;
}
