* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
.main-container {
  padding: 5em;
}
.gpCheckBox {
  width: 100px;
  position: relative;
  display: flex;
  align-items: center;
}
.gpCheckInput {
  opacity: 0;
  width: 100%;
  height: 30px;
}
.gpCheckBox .gpCheckInput + label {
  width: 30px;
  height: 30px;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  position: absolute;
  left: 0;
  cursor: pointer;
}
.gpCheckBox .gpCheckInput + label:hover {
  background-color: #f5f5f5;
}
.gpCheckBox .gpCheckInput:checked + label:after {
  content: "";
  display: inline-block;
  height: 5px;
  width: 14px;
  border-left: 2px solid #00e64d;
  border-bottom: 2px solid #00e64d;
  transform: rotate(-45deg);
  margin-left: 6px;
}
